<section>
    <br>
      <br>
      <br>
      <br>
        <p>
            <br>String like 'abcba' is a palindrome.
            <br>Anything not word('a'~'z' & 'A'~'Z') will not be considered.
            <br>Case of the word will not be considered.
        </p>
        <form action="result" method="post" target="_blank">
            <label for="input">Text-to-Test</label><br>
            <input type="text" id="input" name="input"><br>
            <input type = "submit" value = "Test Now!" ><br>
        </form>
</section>