<section>
  <br>
      <br>
      <br>
      <br>
    {{#if TorF}}
      <div class = 'success'>
        <p>'{{input}}' is a palindrome!</p>
      </div>
    {{else}}
      <div class = 'failure'>
        <p>'{{input}}' is NOT a palindrome!</p>
      </div>
    {{/if}}
    <br>
      <br>
      <br>
      <br>
    <a href = "/">Another test?</a>   
</section>
