<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Palindorm Checker</title>
    <link rel="stylesheet" href="../public/site.css">
  </head>
  <body>
    <header>
    </header>
      <h1>The Palindorm Checker</h1>
      <main>
        <ol id="attempts">Previous Input</ol>
        <form action="#"> 
            <textarea name="phrase" id="input"></textarea><br>
            <button type="submit" onclick="btnClick();return false">Test Now!</button>      
        </form>
      </main>
      <footer>Author: Yuqi Wang  CWID:10446070</footer>
      <script src="/public/check.js"></script>
  </body>
</html>